@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

body {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 2;
}

h1, h2 {
    font-size: 56px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

h5, p {
    font-size: 24px;
}

h6 {
    margin: 24px 5% 0 5%;
    font-size: 18px;
}

a {
    color: white;
}

main {
    position: relative;
    height: 800px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/background.png");
    background-size: cover;
    opacity: 0.2;
    z-index: -999;
}

header {
    margin: auto auto;
    display: flex;
    align-items: center;
    width: 90%;
}

.logo {
    flex: 70%;
}

.logo img {
    width: 200px;
}

.signIn {
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#idioms {
    border: 1px solid rgba(255,255,255,0.5);
    background-color: black;
    border-radius: 5px;
    margin-right: 24px;
    width: 175px;
    height: 50px;
    position: relative;
}

#languageIcon {
    width: 18px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
}

#selectIcon {
    width: 14px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -50%);
}

select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    font-size: 16px;
    font-weight: 700;
    background: none;
    color: white;
    border: none;
    text-align-last: center;
}

.signIn button {
    background-color: red;
    border: none;
    height: 50px;
    padding: 0 16px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

section.register {
    width: 90%;
    margin: auto auto;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

input {
    padding: 24px 0 24px 16px;
    width: 400px;
    margin-right: 16px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

input.error {
    padding: 24px 0 24px 16px;
    width: 400px;
    margin-right: 16px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

form button {
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
    padding: 24px 16px;
    width: 150px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button img {
    margin-left: 16px;
    width: 16px;
    line-height: 0;
    rotate: -90deg;
}

form .error {
    position: absolute;
    top: 90%;
    left: 0;
    font-size: 16px;
    display: none;
    align-items: center;
    color: red;
}

form img {
    width: 16px;
    margin-right: 8px;
}

section.advertisement {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

svg {
    width: 128px;
    height: 128px;
    fill: none;
}

.information p {
    font-size: 16px;
}

.information a {
    color: #6495ed;
    font-weight: 700;
    display: inline-block;
}

.information img {
    width: 14px;
    height: 14px;
    margin-left: 8px;
    rotate: -90deg;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    padding: 50px 0;
    width: 90%;
}

.info {
    flex: 45%;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item img {
    flex: 45%;
    height: auto;
}

hr {
    border: 5px solid rgb(35,35,35);
}

.faq {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-item {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.question {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: rgb(45,45,45);
    margin-top: 16px;
    border-bottom: 1px solid black;
}

.question img {
    width: 32px;
    height: 32px;
}

.answer {
    background-color: rgba(45,45,45, 0.7);
    padding: 24px;
    display: none;
    flex-direction: column;
}

.faq .end {
    margin-bottom: 32px;
}

footer {
    margin: 75px 0 10px 0;
    color: white;
}

.links {
    margin: 16px 5%;
    display: flex;
    flex-flow: column wrap;
    height: 176px;
}

.links a {
    padding: 8px 16px 8px 0;
}

.links a.end {
    padding: 8px 16px 32px 0;
}